
@{
    ViewBag.Title = "Delivered";
}
<h2 style="margin:200px;">
    <h2 style="text-align:center;color:darkolivegreen;">Package Delivered</h2>
    <a href="~/home/index" style="text-align:center;"><h2 style="text-align:center;">Return Home</h2></a>
</h2>

